[ ca ]
default_ca              = CA_default

[ CA_default ]
dir                     = ./
certs                   = $dir
crl_dir                 = $dir/crl
database                = $dir/index.txt
new_certs_dir           = $dir
certificate             = $dir/ca.crt
serial                  = $dir/serial
crl                     = $dir/crl.pem
private_key             = $dir/ca.key
RANDFILE                = $dir/.rand
name_opt                = ca_default
cert_opt                = ca_default
default_days            = 3650
default_crl_days        = 30
default_md              = sha256
preserve                = no
policy                  = policy_anything
crlDistributionPoints   = URI:http://www.example.com/example_ca.crl

[ policy_match ]
countryName             = match
stateOrProvinceName     = match
organizationName        = match
organizationalUnitName  = optional
commonName              = supplied
emailAddress            = optional

[ policy_anything ]
countryName             = optional
stateOrProvinceName     = optional
localityName            = optional
organizationName        = optional
organizationalUnitName  = optional
commonName              = supplied
emailAddress            = optional

[ req ]
prompt                  = no
distinguished_name      = certificate_authority
default_bits            = 2048
x509_extensions         = v3_req

[certificate_authority]
countryName             = PE
stateOrProvinceName     = Estado
localityName            = Localidad
organizationName        = EXAMPLE
emailAddress            = admin@example.com
commonName              = Autoridad Certificadora privada

[v3_ca]
subjectKeyIdentifier    = hash
authorityKeyIdentifier  = keyid:always,issuer:always
basicConstraints        = CA:true
crlDistributionPoints   = URI:http://www.example.com/example_ca.crl
extendedKeyUsage        = serverAuth, clientAuth

[v3_req]
basicConstraints        = CA:true
subjectKeyIdentifier    = hash
